###############################################################################
# HD Platform
# Git Attributes
###############################################################################

###############################################################################
# Default
###############################################################################

* text eol=lf

###############################################################################
# Java
###############################################################################

*.java text diff=java

###############################################################################
# Kotlin
###############################################################################

*.kt text
*.kts text

###############################################################################
# XML
###############################################################################

*.xml text

###############################################################################
# YAML
###############################################################################

*.yml text
*.yaml text

###############################################################################
# JSON
###############################################################################

*.json text

###############################################################################
# Markdown
###############################################################################

*.md text

###############################################################################
# Properties
###############################################################################

*.properties text

###############################################################################
# SQL
###############################################################################

*.sql text

###############################################################################
# Shell
###############################################################################

*.sh text eol=lf

###############################################################################
# Docker
###############################################################################

Dockerfile text eol=lf

###############################################################################
# Windows Script
###############################################################################

*.bat text eol=crlf

###############################################################################
# Images
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary

###############################################################################
# Fonts
###############################################################################

*.ttf binary
*.woff binary
*.woff2 binary

###############################################################################
# Archives
###############################################################################

*.zip binary
*.tar binary
*.gz binary
*.7z binary

###############################################################################
# PDF
###############################################################################

*.pdf binary

###############################################################################
# Office
###############################################################################

*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary

###############################################################################
# Jar
###############################################################################

*.jar binary

###############################################################################
# Keystore
###############################################################################

*.jks binary
*.p12 binary
*.keystore binary